html {
  @extend .grey-text, .text-darken-4;
}
.preloader-wrapper {
  margin:100px auto;
  display: block;
}

.collection .collection-item.avatar .secondary-content {
    top: 10px;
    @extend .light-blue-text, .text-darken-1;
}

.collection .collection-item.avatar .circle {
  border: 1px solid $collapsible-border-color; 
}

.collection .collection-item.avatar p {
  @extend .grey-text, .text-darken-1;
}

.collection .collection-item.avatar .title {
  font-weight: 500
}

nav {
    .brand-logo {
      font-size: 1.5rem;
    }
    a.button-collapse {
        padding-left: 15px;
        display: inline-block;
        i {
            font-size: 2rem;
        }
    }
    .btn {
      background: none;
      box-shadow: none;
      letter-spacing: normal;
      text-transform: none;
      height: 56px;
      line-height: 56px;
      &:hover {
        background: none;
        box-shadow: none;
        @extend .white-text;
      }
      i {
        display: inline-block;
        height: 56px;
        line-height: 54px;
        vertical-align: middle;
      }
    }
    .dropdown-content li>a, 
    .dropdown-content li>span {
        @extend .grey-text, .text-darken-4;
        font-size: inherit;
      }
}

.side-nav {

  .top {
    width: 100%;
    height: 150px;
    position: relative;
    @extend .black;

    &:before {
      content: ' ';
      display: block;
      background: url(http://www.smukfest.dk/media/1137/header_boege2.jpg?width=480&height=300&mode=crop&quality=100) no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px;
      opacity: .4;
    }

    img {
      position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -75px;
    width: 140px;
    }
  }


  
  @extend .grey-text, .text-darken-3;

  li {
    height: 50px;
    line-height: 50px;
    font-weight: 500;
    &.divider {
      height: 1px;
      margin-top: 10px;
    }
    &.top.active {
      @extend .black;
    }
    &.active .time {
    color: #ff1744 !important;
  }
  &.active .phone {
      color: #00C853 !important;
    }
  &.active .people {
      color: #2979FF !important;
    }
  }


  .headline {
    @extend .grey-text;
    padding: 0 20px;
    height: 32px;
    line-height: 48px;
    margin-bottom: 14px;
    font-weight: 400

  }
  a {
    padding: 0 30px 0 75px;
    height: 50px;
    line-height: 50px;
    @extend .grey-text, .text-darken-3;
  }
  i.material-icons {
    display: inline-block;
    height: 56px;
    line-height: 52px;
    vertical-align: middle;
    margin-left: -60px;
    margin-right:28px;
    font-size: 1.9rem;
    @extend .grey-text, .text-darken-3;
    
  }

  
}

.collection {
  border:none;
}
.collection .collection-item.active {
  @extend .white;
  @extend .grey-text, .text-darken-4;
  border:none;
}
.collection .collection-item.avatar i.phone {
  transform: translateY(2px);
  font-size: 16px;
}
.collection .collection-item.avatar i.circle {
  font-style: normal;
}
.collapsible {
  margin: 0;
  .collapsible-body {
    @extend .grey-text, .text-darken-1;
    padding-bottom: 20px;
    .flex-container {
      display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    }

    .flex-item {
      order: 0;
    flex: 0 1 50%;
    align-self: auto;
    }
    padding-left: 72px;
    p {
      padding: 0;
    }

    h6 {
      font-size: .75rem;
    line-height: 100%;
    margin: 1rem 0 .4rem 0;
    text-transform: uppercase;
    @extend .grey-text, .text-lighten-1;
    font-weight: 500;
    letter-spacing: .06rem;
    }
  }
}

.date {
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
}