html {
  @extend .grey-text, .text-darken-4;
}
html, body {
  height: 100%;
}
.preloader-wrapper {
  /*
  margin:100px auto;
  display: block;
  */
  background: #3d5afe;
  position: absolute;
  width: 26px!important;
  height: 26px!important;
  right: 16px;
  top: 16px;
  z-index: 1;
}

nav.pink .preloader-wrapper,
nav.pink .refresh,
nav.index .refresh,
nav.index .preloader-wrapper{
  display: none!important;
}

nav.green .preloader-wrapper {
  background: #00C853;
}

.collection .collection-item.avatar .secondary-content {
    top: 10px;
    @extend .light-blue-text, .text-darken-1;
}


.collection .collection-item.avatar p {
  @extend .grey-text, .text-darken-1;
}

.collection .collection-item.avatar .title {
  font-weight: 500
}

.refresh {
  padding-right: 15px;
  cursor: pointer;
}

.expand, .close {
  position: absolute;
  right: 0;
  color:#039be5;

  &.more {
    top:20px;
  }
}

.close {
  display: none!important;
}

nav {
    .brand-logo {
      font-size: 1.5rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;

      a {
        width: 64px;
        height: 64px;
        display: block;
      }
      img {
        margin-top: 3px;
        width: 50px;
      }
    }
    a.button-collapse {
        padding-left: 15px;
        display: inline-block;
        i {
            font-size: 2rem;
        }
    }
    .btn {
      background: none;
      box-shadow: none;
      letter-spacing: normal;
      text-transform: none;
      height: 56px;
      line-height: 56px;
      &:hover {
        background: none;
        box-shadow: none;
        @extend .white-text;
      }
      i {
        display: inline-block;
        height: 56px;
        line-height: 54px;
        vertical-align: middle;
      }
    }
    .dropdown-content li>a, 
    .dropdown-content li>span {
        @extend .grey-text, .text-darken-4;
        font-size: inherit;
      }
}

.side-nav {

  .top {
    width: 100%;
    height: 150px;
    position: relative;
    @extend .black;

    &:before {
      content: ' ';
      display: block;
      background: url(../assets/img/header_boege2.png) no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px;
      opacity: 1;
    }
    a {
      width: 100%;
      height: 100%;
      display: block;
      padding: 0;
      position: absolute;
    }
    /*
    img {
      position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -75px;
    width: 140px;
    }
    */
  }


  
  @extend .grey-text, .text-darken-3;

  li {
    height: 50px;
    line-height: 50px;
    font-weight: 500;
    &.divider {
      height: 1px;
      margin-top: 10px;
    }
    &.top.active {
      @extend .black;
    }
    &.active .time, 
    &.active .finurligheder {
    color: #ff1744 !important;
  }
  &.active .phone,
  &.active .people  {
      color: #00C853 !important;
  }
  &.active .facts {
      color: #f50057 !important;
    }
  }


  .headline {
    @extend .grey-text;
    padding: 0 20px;
    height: 32px;
    line-height: 48px;
    margin-bottom: 14px;
    font-weight: 400

  }
  a {
    padding: 0 30px 0 75px;
    height: 50px;
    line-height: 50px;
    @extend .grey-text, .text-darken-3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  i.material-icons {
    display: inline-block;
    height: 56px;
    line-height: 52px;
    vertical-align: middle;
    margin-left: -60px;
    margin-right:28px;
    font-size: 1.9rem;
    @extend .grey-text, .text-darken-3;
    
  }

  
}

.collection .collection-item.avatar .circle {
    border: 1px solid #e0e0e0;
}

.collection {
  border:none;
}
.collection .collection-item.active {
  @extend .white;
  @extend .grey-text, .text-darken-4;
  border:none;

  .expand {
    display: none
  }
  .close {
    display: block!important;
}
}

.flex-item {
      a {
        position: relative;
        padding-right: 20px;

        i.open-in-new {
          font-size: 14px;
          position: absolute;
          right: 0;
          top: 3px;
        }
      }

    }
.collection .collection-item.avatar i.phone {
  transform: translateY(2px);
  font-size: 16px;
}
.collection .collection-item.avatar i.circle {
  font-style: normal;
}
.collapsible {
  margin: 0;
  .collapsible-body {
    @extend .grey-text, .text-darken-1;
    padding-bottom: 20px;
    .flex-container {
      padding-right: 10px;

    }

    padding-left: 72px;
    p {
      padding: 0;
    }

    h6 {
      font-size: .75rem;
    line-height: 100%;
    margin: 1rem 0 .4rem 0;
    text-transform: uppercase;
    @extend .grey-text, .text-lighten-1;
    font-weight: 500;
    letter-spacing: .06rem;
    }
  }
}

.date {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
}

.team .collection-item.avatar {
  display: flex;
  min-height: 64px;
  align-items: center;
}

.browser-default li {
  list-style-type: initial;
}

.feed hr{
  border: 0;
  height: 1px;
  background: $collapsible-border-color; 
}

/* Index */

.index.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width:100%;
}

.index .flex-item{
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    width:100%;
    
    position: relative;
    display: flex;
    align-items: center;
    @extend .white-text;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*
    &:before {
      content: ' ';
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.6);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
    */

    .content {
      padding: 0 15px;
    }

    .time {      
      font-size: 50px;
      
    }

    p {
      font-size: 20px;
      line-height: 1em;
    }
    small {
      
    }

    &:nth-child(2) {
      background-image: url(../assets/img/index-torsdag.jpg);
      
    }
    &:nth-child(3) {
      background-image: url(../assets/img/index-fredag.jpg);
    }
    &:nth-child(4) {
      background-image: url(../assets/img/index-loerdag.jpg);
    }
}

.video .content {
      z-index: 0;
    }

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  background-color: #000;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 
  opacity: 0.4;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
